
p.error{
    color: red;
    background-color: #bfa;
}
.form-horizontal{
    margin: 20px auto;
    width: 50%;
}
.col-form-label {
    font-weight: 700;
}
#submit-btn {
    background-color: #269548; 
}
#reset-btn{
    background-color:#1871AB; 
}
#cancel-btn{
    background-color: #F3D712;
}
#submit-btn,#reset-btn,#cancel-btn {
    color: white;
}
div.eventinfo{
    background-color: rgba(161, 161, 161, 0.6);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}