a{
    text-decoration: none;
}

nav {
    height:110px;
    font-size: medium;
    font-weight: bold;
}

#logo_img{
    height: 6rem;
}
.clearfix::before, .clearfix::after{
    content: '';
    display: table;
    clear: both;
}

main{
    padding-top:70px;
}