a{
    text-decoration: none;
}

nav {
    height:110px;
    font-size: medium;
    font-weight: bold;
}

#logo_img{
    height: 6rem;
}
.clearfix::before, .clearfix::after{
    content: '';
    display: table;
    clear: both;
}


main{
    padding-top:25px;
}

h1 {
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 4.5px;
}

button {
    margin-left:16px;
}

.table-responsive {
    margin-top: 40px;
}


thead {
    color: white;
}

#error-message {
        text-align: center;
}
