
main{
    position: relative;
}
div.form_wrap{
    position: absolute;
    width: 80%;
    height: 500px;
    left: 10%;
    top: 3rem;
}
div.details{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
}

#close{
    position: absolute;
    bottom: 0;
}

.hidden{
    display: none;
}
.show {
    display: block;
}

form.criteria div.each{
    float: left;
    margin: 10px 20px 5px 0;
    line-height: 1.5em;
}
form.criteria button{
    float: left;
}
form.criteria span{
    display: inline-block;
    padding: 3px 10px;
}
form.criteria input{
    margin: 0 5px;
}
div.row{
    width: 100%;
}
#showError{
    float: right;
    width: auto;
    height: 2em;
    margin: 30px 0 0 50px;
    color: red;
}

.tableHeader{
    background-color: #F3D712;
    color: #6C757D;
}