
main{
    position: relative;
}
div.form_wrap{
    background-color: rgba(255, 254, 203, 0.9);
    position: absolute;
    width: 80%;
    height: 500px;
    left: 10%;
    top: 3rem;
}
div.details{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
}

#close{
    position: absolute;
    bottom: 0;
}

.hidden{
    display: none;
}
.show {
    display: block;
}
form.criteria{
}
form.criteria div.each{
    float: left;
    background-color: #F8F9FA;
    margin: 10px 20px 5px 0;
    line-height: 1.5em;
}
form.criteria button{
    float: left;
}
form.criteria span{
    background-color: rgb(192, 192, 192);
    display: inline-block;
    padding: 3px 10px;
}
form.criteria input{
    margin: 0 5px;
}