{% extends "layout.html" %}
{% block title %}Account{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{% endblock head %}
{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Account</h1>
        </div>  
        <form class="form-horizontal">
            <div class="input_wrapper">
            <div id="base" class="eventinfo">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-user" required="required" name="first_name" value="{{ account[1] }}" readonly>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-4 col-form-label">Surname</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-user"  required="required" name="surname" value="{{ account[2] }}" readonly>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-4 col-form-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-user"  required="required" name="phone_number" value="{{ account[3] }}" readonly>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control form-control-user" name="email" value="{{ account[4] }}" readonly>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-6 col-sm-offset-4">
                        <a href="{{ url_for('update_password') }}" type="button" role="button" class="btn btn-secondary">Update Password</a>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
{%endblock%}