{% extends "layout.html" %}
{% block title %}Add Event{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'event_forms.css')}}">
{% endblock %}

{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Add New Event</h1>
        </div> 
        <form action="add_event" method="POST" class="form-horizontal">
            <div class="input_wrapper" id="inputs">
                <div id="base" class="eventinfo">
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Event Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-user" required="required" name="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Event Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control form-control-user" required="required" name="event_date">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Location</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-user"  name="location">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-user" name="description" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 col-sm-offset-4 g-0">
                    <button id="submit-btn" type="submit" role="button" class="btn">Submit</button>
                    <button id="reset-btn" type="reset" role="button" class="btn">Reset</button>
                    <button id="cancel-btn" type="button" role="button" class="btn" onclick="history.back()">Cancel</button>
                </div>
                
            </div>
        </form>
        <button id="add_btn" class="btn btn-secondary">Add another event</button>
    </div>
        
</main>

<script type="text/javascript">
    var add_btn = document.getElementById("add_btn");
    var base = document.getElementById("base");
    var inputs = document.getElementById("inputs")

    add_btn.onclick = function () {
        var newDiv = base.cloneNode(true);
        newDiv.id = '';
        var remove = document.createElement("button");
        remove.innerHTML = "Remove";
        remove.type = "button";
        remove.className = "btn btn-danger"
        newDiv.appendChild(remove);
        base.parentNode.appendChild(newDiv);
        var allRemvoe= document.querySelectorAll("#inputs button")
        for (var i =0; i<allRemvoe.length; i++){
            allRemvoe[i].addEventListener("click",function(){
                inputs.removeChild(this.parentElement)
            },false)
        }
    }

    /*var remove_btn = document.getElementsByClassName("remove_btn");
    console.log(remove_btn)*/

    

    /* inputs.addEventListener("click", function(eventinfo){
        
        var btn = event.target;
        inputs.removeChild(btn.parentNode)

    },false) */
    

</script>
{%endblock%}