{% extends "layout.html" %}
 
{% block title %}Register New User{% endblock title%}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{% endblock %}

{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Register New User</h1>
        </div>
        <form method="POST" action="{{ url_for('add_user') }}" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="mb-3 row">
                    {{ form.first_name.label(class="col-sm-4 col-form-label") }}
                    {% if form.first_name.errors %}
                        <div class="col-sm-8">
                        {{ form.first_name(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.first_name(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.surname.label(class="col-sm-4 col-form-label") }}
                    {% if form.surname.errors %}
                        <div class="col-sm-8">
                        {{ form.surname(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.surname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.surname(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.email.label(class="col-sm-4 col-form-label") }}
                    {% if form.email.errors %}
                        <div class="col-sm-8">
                        {{ form.email(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.email(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.phone_number.label(class="col-sm-4 col-form-label") }}
                    {% if form.phone_number.errors %}
                        <div class="col-sm-8">
                        {{ form.phone_number(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.phone_number(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.user_access.label(class="col-sm-4 col-form-label") }}
                    {% if form.user_access.errors %}
                        <div class="col-sm-8">
                        {{ form.user_access(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_access.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.user_access(class="form-control form-control-user form-select") }}
                    </div>
                    {% endif %}                   
                </div>
                <legend>Set Password</legend>
                <div class="mb-3 row">
                    {{ form.password.label(class="col-sm-4 col-form-label") }}
                    {% if form.password.errors %}
                        <div class="col-sm-8">
                        {{ form.password(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.password(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.confirm_password.label(class="col-sm-4 col-form-label") }}
                    {% if form.confirm_password.errors %}
                        <div class="col-sm-8">
                            {{ form.confirm_password(class="form-control form-control-user is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                    <div class="col-sm-8">
                        {{ form.confirm_password(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-6 col-sm-offset-4">
                    {{ form.submit(id="submit-btn", class="btn btn-outline-secondary") }}
                    <button id="reset-btn" type="reset" role="button" class="btn btn-outline-secondary">Reset</button>
                    <button id="cancel-btn" type="button" role="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content%}