{%extends "layout.html"%}
{%block title%}
Add Event
{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'add_event.css')}}">
{%endblock%}
{%block content%}
<div class="container">
    <form action="add_event" method="POST">
        <div class="input_wrapper">
        <div id="base" class="eventinfo">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Event Name</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" required="required" name="name">
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Event Date</label>

                <div class="col-sm-6">
                    <input type="date" class="form-control form-control-user"  required="required" name="event_date">
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Location</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user"  required="required" name="location">
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Description</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="note" value="">
                </div>
            </div>
        </div>
        </div>
        <button type="submit">submit</button>
    </form>
</div>
<button id="btn">Add another event</button>

<script type="text/javascript">
    var btn = document.getElementById("btn");
    var base = document.getElementById("base");
    
    console.log(base);
    btn.onclick = function(){
        var newDiv = base.cloneNode(true);
        newDiv.id = ''
        base.parentNode.appendChild(newDiv);
    }

</script>
{%endblock%}