{%extends "layout.html"%}
{%block title%}
Add New Student
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{%endblock%}
{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Add New Student</h1>
        </div>
        {% from "_form_helper.html" import render_field %}
        <form method="POST" enctype="multipart/form-data" class="form_wrapper container">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.school_name) }}
                    {{ render_field(form.gender, class="form-select") }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.previous_hours) }}
                    {{ render_field(form.ethnicity_info, class="form-select") }}
                    {{ render_field(form.publication_promos, class="form-select") }} 
                    {{render_field(form.status, class="form-select")}}
                </div>
                <div class="col">
                    {{ render_field(form.first_name) }}
                    {{ render_field(form.age) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.passport_number) }}
                    {{ render_field(form.social_media, class="form-select") }}
                    {{ render_field(form.hat_size, class="form-select") }}
                </div>
                <div class="col">
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.ethnicity) }}
                    {{ render_field(form.continuing_new, class="form-select") }}
                    {{ render_field(form.passport_date) }}
                    {{ render_field(form.teaching_research, class="form-select") }}
                    {{ render_field(form.gown_size, class="form-select") }}
                </div>
            <div class="d-grid gap-2 d-md-block">
                <button id="cancel-btn" type="button" role="button" class="btn float-end"
                    onclick="window.location.href = '/member'">Return</button>
                <button id="reset-btn" type="reset" role="button" class="btn float-end">Reset</button>
                {{ form.submit(id="submit-btn", class="btn float-end")}} <label
                    style="color: red;">{{message}}</label>
            </div>
        </form>
    </div>
</div>
{%endblock%}