{%extends "layout.html"%}
{%block title%}
Add New Learning Destination 
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{%endblock%}
{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Add New Learning Destination</h1>
        </div>
        {% from "_form_helper.html" import render_field %}
        <form method="POST" enctype="multipart/form-data" class="form_wrapper container">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.status, class="form-select") }}
                    {{ render_field(form.ld_position) }}
                    {{ render_field(form.postal_address) }}
                    {{ render_field(form.web_address) }}
                    {{ render_field(form.agrt_signed) }}
                    {{ render_field(form.logo_sent, class="form-select") }}
                    {{render_field(form.note)}}
                </div>
                <div class="col">
                    {{ render_field(form.ld_name) }}
                    {{ render_field(form.address) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.member_cost) }}
                    {{ render_field(form.rov_signed) }}
                    {{ render_field(form.promo, class="form-select") }}
                </div>
                <div class="col">
                    {{ render_field(form.contact_person) }}
                    {{ render_field(form.region) }}
                    {{ render_field(form.phone_number) }}
                    {{ render_field(form.adult_cost) }}
                    {{ render_field(form.poster_sent) }}
                    {{ render_field(form.photo, class="form-select") }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button id="cancel-btn" type="button" role="button" class="btn float-end"
                    onclick="window.location.href = '/destination'">Cancel</button>
                <button id="reset-btn" type="reset" role="button" class="btn float-end">Reset</button>
                {{ form.submit(id="submit-btn", class="btn float-end")}} <label style="color: green;">{{message}}</label>
            </div>
        </form>
    </div>
{%endblock%}