{% extends "layout.html"%}
{%block title%}
Generating Excel File
{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
<style>
    div.form_wrapper{
        height: 50vh;
        overflow-y: scroll;
    }
</style>
{%endblock%}

{%block content%}
<div class="container">
    <h1>Generate Spreadsheet</h1>
    
    <form action="/downloads/members/" method="POST" > 
       
        <legend>Please select school(s):</legend>
        <div class="form_wrapper">
        <table class="table">
            <thead style="background-color:#1871AB;">
                <tr>
                    <th>School Id</th>
                    <th>School Name</th>
                    <th>Select</th>
                </tr>
            </thead>
            {% for i in schools%}
            <tr>
                {%for j in i%}
                <td><label for="{{i[0]}}">{{j}}</label> </td>
                {%endfor%}
                <td><input type="checkbox" name="schools" value="{{i[0]}}" id="{{i[0]}}"></td>
            </tr>
            {%endfor%}

        </table>
    </div>
        <div class="type">
            <legend>Please select the type of spreadsheet:</legend>
                <label for="template">Template for Schools</label>
                <input type="radio" name="type" value="template" id="template" required>
                <label for="completed">Completed Spreadsheets for Schools</label>
                <input type="radio" name="type" value="completed" id="completed"required>
        </div>
        <div class="mt-4">
            <button id="submit-btn" type="submit" class="btn">Generate</button>
            <button id="reset-btn" type="reset" class="btn">Reset</button>
        </div>
    </form>

</div>
{%endblock%}