{%extends "layout.html"%}
{%block title%}Edit School{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{%endblock%}
{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row"><h1>Edit Schools Information</h1></div>
            {% from "_form_helper.html" import render_field %}
            <form method="POST" enctype="multipart/form-data" class="form_wrapper container">
                {{ form.csrf_token }}
                    <div class="row">
                        <div class="col">
                
                            {{ render_field(form.school_name) }}
                            {{ render_field(form.who) }}
                            {{ render_field(form.name) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.council) }}
                            {{ render_field(form.confirm) }}
                            
                        </div>
                        <div class="col">
                            {{ render_field(form.category) }}
                            {{ render_field(form.status) }}
                            {{ render_field(form.training) }}
                            {{ render_field(form.launch) }}
                            {{ render_field(form.presentation) }}
                          
                        </div>
                        <div class="col">
                            {{ render_field(form.portal) }}
                            {{ render_field(form.passports) }}
                            {{ render_field(form.agreement) }}
                            {{ render_field(form.consent) }}
                            {{ render_field(form.notes) }}
                            
                        </div>
                    </div>                                     
                <div class="d-grid gap-2 d-md-block">
                    <button id="cancel-btn" type="button" role="button" class="btn float-end" onclick="window.location.href = '/school';">Cancel</button>
                    <button id="reset-btn" type="reset" role="button" class="btn float-end">Reset</button>
                    {{ form.submit(id="submit-btn", class="btn float-end")}}
                </div>
            </form>
        </div>
    </div>
{%endblock%}