{%extends "layout.html"%}
{%block title%}
Learning Destination update
{%endblock%}
{% block current_user %}{{ name[0] }} {{ name[1] }} {% endblock current_user %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'add_event.css')}}">
{%endblock%}
{%block content%}

<main class="m-5">
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Edit Learning Destination</h1>
        </div>
        {% from "_form_helper.html" import render_field %}
        <form method="POST" enctype="multipart/form-data" class="form_wrapper container">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.status) }}
                    {{ render_field(form.ld_position) }}
                    {{ render_field(form.postal_address) }}
                    {{ render_field(form.web_address) }}
                    {{ render_field(form.agrt_signed) }}
                    {{ render_field(form.logo_sent) }}
                </div>
                <div class="col">
                    {{ render_field(form.ld_name) }}
                    {{ render_field(form.address) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.member_cost) }}
                    {{ render_field(form.rov_signed) }}
                    {{ render_field(form.promo) }}
                </div>
                <div class="col">
                    {{ render_field(form.contact_person) }}
                    {{ render_field(form.region) }}
                    {{ render_field(form.phone_number) }}
                    {{ render_field(form.adult_cost) }}
                    {{ render_field(form.poster_sent) }}
                    {{ render_field(form.photo) }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="button" role="button" class="btn btn-outline-secondary"
                    onclick="window.location.href = '/destination'">Return</button>
                <button type="reset" role="button" class="btn btn-outline-secondary">Reset</button>
                {{ form.submit(class="btn btn-outline-secondary")}} <label style="color: red;">{{message}}</label>
            </div>
        </form>
    </div>
    </div>
</main>

{%endblock%}