{%extends "layout.html"%}
{%block title%}Edit Volunteer{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{%endblock%}
{%block content%}
    <div class="container bg-light p-4 pb-5 rounded">
        <h1>Edit Volunteer</h1>
        {% from "_form_helper.html" import render_field %}
        <form method="POST" enctype="multipart/form-data" class="form_wrapper container">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.status, class="form-select") }}
                    {{ render_field(form.induction) }}
                    {{ render_field(form.interview) }}
                    {{ render_field(form.photo, class="form-select") }}
                    {{ render_field(form.studentid) }}
                    {{ render_field(form.firstname) }}
                    {{render_field(form.surname)}}
                </div>
                <div class="col">
                    {{ render_field(form.prefername) }}
                    {{ render_field(form.gender, class="form-select") }}
                    {{ render_field(form.dob) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.phone_number) }}
                    {{ render_field(form.address) }}
                </div>
                </br>
                    <div class="d-grid gap-2 d-md-block">
                        <button id="cancel-btn" type="button" role="button" class="btn float-end"
                            onclick="window.location.href = '/volunteer'">Cancel</button>
                        <button id="reset-btn" type="reset" role="button" class="btn float-end">Reset</button>
                        {{ form.submit(id="submit-btn", class="btn float-end")}}
                        <label style="color: red;">{{message}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

{%endblock%}