{%extends "layout.html"%}
{%block title%}
{%endblock%}
{%block content%}
<div class="container">
<h1>event page</h1>
<a href="add_event">Add Event</a>
<form action="event">
<table class="table">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Location</th>
            <th>Event Description</th>
            <th>Member Attendance</th>
            <th>Volunteer Attendance</th>
            <th>Edit Event</th>
        </tr>
    </thead>
    {% for i in events%}
    <tr>{% for j in i%}
        <td>{{j}}</td>
        {%endfor%}
        <td></td>
        <td><a href="/edit_event?eventid={{i[0]}}&oper=edit">Edit</a> <span> | </span>
            <a href="/edit_event?eventid={{i[0]}}&oper=delete" class="delete" >Delete</a></td>
            <!-- <a href="javascript:;" class="delete" >Delete</a></td> -->

    </tr>
    {%endfor%}
    
</table>
</form>
</div>
<script type="text/javascript">
var events = JSON.parse('{{events|tojson}}')
console.log(events)
var allDelete = document.getElementsByClassName("delete");
for(var i = 0; i < allDelete.length; i++){
    allDelete[i].addEventListener("click",function(){
        var tr = this.parentNode.parentNode
        var eventName= tr.getElementsByTagName("td")[1].innerHTML;
        console.log(eventName);
        if(!confirm("Delete event "+ eventName+ " (Including all records of Member Attendance and Volunter Attendance)!"))
        this.href = "javascript:;";
    },false)
}


</script>
{%endblock%}