{%extends "layout.html"%}
{%block title%}
Event
{%endblock%}

{%block content%}

<main class="m-5">
    <div class="container bg-light p-4 rounded">
        <div class="row">
            <h2>Events</h2>
        </div>
        <div class="row mb-2">
            <div class="col-12 mb-2">
                <a href="{{ url_for('add_event') }}" type="button" role="button" class="btn btn-outline-primary float-end">
                Add Event</a>
            </div>
        </div>
        <div class="table-bordered">
            <form action="event">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event ID</th>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Event Location</th>
                        <th>Event Description</th>
                        <th>Member Attendance</th>
                        <th>Volunteer Attendance</th>
                        <th></th>
                    </tr>
                </thead>
                {# this is a comment the line below prints the db result #}
                <tbody>
                {% for i in events%}
                    <tr>
                        {% for j in i%}
                            <td>{{j}}</td>
                        {%endfor%}
                        <td><a href="/edit_event?eventid={{i[0]}}&oper=edit" role="button">
                                <img src="/static/image/pencil-square.svg" alt="Edit" width="20" height="20"></a>
                            <a href="/edit_event?eventid={{i[0]}}&oper=delete" role="button" class="delete">
                                <img src="/static/image/trash.svg" alt="Edit" width="20" height="20"></a>
                        </td>
                        <!-- <a href="javascript:;" class="delete" >Delete</a></td> -->
                    </tr>
                {%endfor%}
                </tbody>    
            </table>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript">
var events = JSON.parse('{{events|tojson}}')
console.log(events)
var allDelete = document.getElementsByClassName("delete");
for(var i = 0; i < allDelete.length; i++){
    allDelete[i].addEventListener("click",function(){
        var tr = this.parentNode.parentNode
        var eventName= tr.getElementsByTagName("td")[1].innerHTML;
        console.log(eventName);
        if(!confirm("Delete event "+ eventName+ " (Including all records of Member Attendance and Volunter Attendance)!"))
        this.href = "javascript:;";
    },false)
}


</script>
{%endblock%}