{%extends "layout.html"%}
{%block title%}
Generating Excel File
{%endblock%}
{%block content%}
<h1>generating page</h1>
<form action="/generating" method="POST"> 
    <table class="table">
        {% for i in schools%}
        <tr>
            {%for j in i%}
            <td>{{j}}</td>
            {%endfor%}
            <td><input type="checkbox" name="schools" value="{{i[0]}}"></td>
        </tr>
        {%endfor%}

    </table>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>

{%endblock%}