{%extends "layout.html"%}
{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
{% endblock %}

{%block content%}

<script>
$(document).ready(function() {
  $(".card").click(function() {
    window.document.location = $(this).data("href");
  });
});
</script>


<main class="m-4">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1>Dashboard</h1>
    <div class="container">
        <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="card" data-href="/member" style="background-color: #A01D2F;">
                    <div class="card-body" >
                        <h3 class="card-title">Students</h3>
                        <p class="mb-0">Students active: {{ total_members }}</p>
                        <p class="mb-0">Students hours(current total): {{ total_members_hours }} hours</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" data-href="/school" style="background-color: #269548;">
                    <div class="card-body">
                        <h3 class="card-title">Schools</h3>
                        <p class="mb-0">Schools and rūnanga active: {{ active_schools }}</p> 
                        <p class="mb-0">Schools and rūnanga in progress: {{ in_progress_schools }}</p>
                        <p class="mb-0">Schools and rūnanga total: {{ total_schools }}</p>

                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card" data-href="/destination" style="background-color:#1871AB;">
                    <div class="card-body">
                        <h3 class="card-title">Learning Destinations</h3>
                        <p class="mb-0">Learning Destinations active: {{ active_destinations }}</p>
                        <p class="mb-0">Learning Destinations pending: {{ pending_destinations }}</p>
                        <p class="mb-0">Learning Destinations total: {{ total_destinations }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card" data-href="/volunteer" style="background-color: #F3D712;">
                    <div class="card-body">
                        <h3 class="card-title ">Volunteers</h3>
                        <p class="mb-0">Volunteers active: {{ total_volunteers }}</p>
                        <p class="mb-0">Volunteers hours: {{ total_volunteers_hours }} hours</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{%endblock%}
    
