<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'reset.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename = 'layout.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <style>
    body{
      padding-top: 50px;
    }
  </style>
  {%block head%}
  {%endblock%}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand w-auto" href="/index"><img src="../static/image/CU logo.jpeg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('member') }}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('school') }}">Schools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('destination') }}">Learning Destinations</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{{ url_for('volunteer') }}">Volunteers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('event') }}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users') }}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('download') }}">Download Excel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% block current_user %} {% endblock current_user %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% block content %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  {% block js %}
  {% endblock %}
</body>

</html>