
{%extends "layout.html"%}
    {%block title%}
    {%endblock%}
    

    {%block content%}
    <form action="/member_upload" method="POST">
    <table class="table">
        {% for item in data%}
            <tr>
                {% for entrens in item%}
                <td>
                    <input type="text" value="{{entrens }}">
                    
                </td>
                {%endfor%}
            </tr>
        
            {%endfor%}
        </table>
        <button type="submit">submit</button>
        <button type="reset">reset</button>
    </form>
        question: is possport no. unique?
        if not, id must be included in the spreadsheet
    {%endblock%}
    

    
   

