{%extends "layout.html"%}
{%block title%}Students Page{%endblock%}
    
{%block content%}


<script>
    $(document).ready(function(){
      $("#input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#mytable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

     $(document).ready(function () {
     var $rows = $('tbody#mytable tr')
   
      var $filters = $('.table-filter').change(function(){
       var filterArr = $filters.filter(function(){
          return this.value
       }).map(function(){
          var $el = $(this);
          var value = $el.is('select') ? $el.find(':selected').text() :$el.val()  
          return {
            col: $el.data('col'),
            value: value.toLowerCase()
          }
       }).get();
       if(!filterArr.length){
         $rows.show()
       }else{
         $rows.hide().filter(function(){
            var $row = $(this)
            return filterArr.every(function(filterObj, i){
               var cellText = $row.find('td').eq(filterObj.col).text().toLowerCase();             
              return  cellText.includes(filterObj.value);
            })
         }).show()
       }
     })
    });

  type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect({
      enableFiltering: true
    });
  });

</script>

</script> 


<div class="container">
    <h1>Student Inforamtion List</h1>
    <form action="/member_upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <button type="submit" id="btn">submit</button>
    </form>
    </br>

  <div>
    <div class="row">
        <div class="col-md-5">
          <input type="text" id="input" onkeyup="myFunction()" placeholder="Search for key words...">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h6>School</h6>
           <select id="schoolfilter" name="schoolfilter" class="table-filter form-control" data-col="1" >
             <option value="">Select one</option>           
              {% for col in school_filter %}
                {% for result in col %}
                <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>

        </div>
        <div class="col-md-2">
            <h6>Gender</h6>
            <select id="genderfilter" name="genderfilter" class="table-filter form-control" data-col="6" >
                <option value="">Select one</option>         
                   <option value="Girl">Girl</option>
                   <option value="Boy">Boy</option>
               </select>
        </div>
        <div class="col-md-2">
            <h6>Age</h6>
            <select id="agefilter" name="agefilter" class="table-filter form-control" data-col="7">
              <option value="">Select one</option> 
              {% for col in member_age %}
                {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
          <h6>Ethnicity</h6>
          <select id="ethnicityfilter" name="ethnicityfilter" class="table-filter form-control" data-col="8">
            <option value="">Select one</option> 
            {% for col in ethnicity %}
              {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
            </select>
      </div>

      <div class="col-md-2">
        <h6>Continuing/New</h6>
        <select id="filter" name="filter" class="table-filter form-control" data-col="9">
          <option value="">Select one</option> 
          <option value="Continuing">Continuing</option>
          <option value="New">New</option>
        </select>
    </div>
        <div class="col-md-2">
            <h6>Previous Hours</h6>
           <select id="previoushoursfilter" name="previoushoursfilter" class="table-filter form-control"  data-col="11">
            <option value="">Select one</option> 
            {% for col in previous_hours %}
              {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
          <h6>Passport Date Issued</h6>
          <input type="date" class="form-control" id="datefilterfrom" data-date-split-input="true"  data-col="12">
        </div>

      <div class="col-md-2">
        <h6>Ethnicity Info</h6>
        <select id="ethnicityfilter" name="ethnicityfilter" class="table-filter form-control" data-col="13">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-3">
        <h6>Teaching Research</h6>
        <select id="teachfilter" name="teachfilter" class="table-filter form-control" data-col="14">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-3">
        <h6>Pubilication Promos</h6>
        <select id="promofilter" name="promofilter" class="table-filter form-control" data-col="15">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-2">
        <h6>Social Media</h6>
        <select id="socialfilter" name="socialfilter" class="table-filter form-control" data-col="16">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-2">
        <h6>Total Hours</h6>
        <select id="hoursfilter" name="hoursfilter" class="table-filter form-control" data-col="17">
          <option value="">Select one</option>
          {% for col in total_hours %}
            {% for result in col%} 
          <option value="{{result}}">{{result}}</option>
            {% endfor %}
          {% endfor %}
        </select>
        </div>

        <div class="col-md-2">
          <h6>Grown Size</h6>
          <select id="grownfilter" name="grownfilter" class="table-filter form-control" data-col="18">
            <option value="">Select one</option>
            {% for col in grown_size %}
              {% for result in col%} 
            <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
          </select>
          </div>

          <div class="col-md-2">
            <h6>Hat Size</h6>
            <select id="hatfilter" name="hatfilter" class="table-filter form-control" data-col="19">
              <option value="">Select one</option>
              {% for col in hat_size %}
                {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>
          </div>

            <div class="col-md-2">
              <h6>Status</h6>
              <select id="statusfilter" name="statusfilter" class="table-filter form-control" data-col="20">
                <option value="">Select one</option>
                {% for col in status%}
                  {% for result in col%} 
                <option value="{{result}}">{{result}}</option>
                  {% endfor %}
                {% endfor %}
              </select>           
          </div>

    </div>


    <table class="table" id="table">
        <thead>
            <tr>
                <th scope="col">Member ID</th>
                <th scope="col">School ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Ethnicity</th>
                <th scope="col">Continuing/New</th>
                <th scope="col">Passport Number</th>
                <th scope="col">Previous Hours</th>
                <th scope="col">Passport Date Issued </th>
                <th scope="col">Ethnicity Info</th>
                <th scope="col">Teaching Research</th>
                <th scope="col">Pubilication Promos</th>
                <th scope="col">Social Media</th>
                {% if date %}
                <th scope="col">{{date}} Total Hours </th>
                {% endif %}
                <th scope="col">Gown Size</th>
                <th scope="col">Hat Size</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for item in result %}
            <tr> 
                {% for col in item %}
                <td>{{col}}</td>
                {% endfor %}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

    {%endblock%}
    
