{%extends "layout.html"%}
{%block title%}Students Upload{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'upload.css')}}">

{%endblock%}

{%block content%}
<main class="m-4 ">
    <form action="/member_upload " method="POST" class=" container">
        <h1>Students Information Upload</h1>
        <div class="wrapper data">
            
            <table class="table">
                <thead>
                    <tr>
                        {% for item in mem_col%}
                        <th><input type="text" value="{{item}}" name="mem_col" class="columns" readonly></th>
                        {%endfor%}
                    </tr>
                </thead>
                {% for item in mem_data%}
                <tr>
                    {% for entrens in item%}
                    <td>
                        <input type="text" value="{{entrens}}" name="mem{{item[-1]}}">
                    </td>
                    {%endfor%}
                </tr>

                {%endfor%}

            </table>
        </div>
        <div class="coor">
            <h1>Coordinator Information</h1>
            <div class="coor_wrapper">
            <table class="table">
                <thead>
                    <tr>
                        {% for item in coor_col%}
                        <th><input type="text" value="{{item}}" name="coor_col" class="columns" readonly></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    {% for item in coor_data%}
                    <tr>
                        {% for entrens in item%}
                        <td>
                            <input type="text" value="{{entrens}}" name="coor">
                        </td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary" id="submitBtn">Submit</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>

        <button type="button" role="button" class="btn btn-outline-secondary"
            onclick="window.location.href = '/member'">Return</button>
    </form>
</main>
<script type="text/javascript">
    var btn = document.getElementById("submitBtn");
    informing(btn)
    
    </script>
{%endblock%}