{%extends "layout.html"%}
{% block title %}Students Page{% endblock %}

{% block head %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
<link rel="stylesheet" href="{{url_for('static', filename = 'table.css')}}">
{% endblock head %}
{% block current_user %}{{ name[0] }} {{ name[1] }} {% endblock current_user %}    
{%block content%}
<script>
    $(document).ready(function(){
      $("#input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#mytable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

     $(document).ready(function () {
     var $rows = $('tbody#mytable tr')
   
      var $filters = $('.table-filter').change(function(){
       var filterArr = $filters.filter(function(){
          return this.value
       }).map(function(){
          var $el = $(this);
          var value = $el.is('select') ? $el.find(':selected').text() :$el.val()  
          return {
            col: $el.data('col'),
            value: value.toLowerCase()
          }
       }).get();
       if(!filterArr.length){
         $rows.show()
       }else{
         $rows.hide().filter(function(){
            var $row = $(this)
            return filterArr.every(function(filterObj, i){
               var cellText = $row.find('td').eq(filterObj.col).text().toLowerCase();             
              return  cellText.includes(filterObj.value);
            })
         }).show()
       }
     })
    });


</script>



<div class="container-fluid">
  <h1>Student Information List</h1>
    <form action="/member_upload" method="POST" enctype="multipart/form-data">

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" class="form-control" id="inputGroupFile01" required>
        <button class="btn btn-outline-secondary" type="button" id="btn">Submit</button>
      </div>

    </br>

  <div name="input group">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01">Search</label>
      <input type="text" class="form-control" id="input" onkeyup="myFunction()">
    </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h7>School</h7>
           <select id="schoolfilter" name="schoolfilter" class="table-filter form-control" data-col="1">
             <option value="">Select one</option>           
              {% for col in school_filter %}
                {% for result in col %}               
                <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>

        </div>
        <div class="col-md-2">
            <h7>Gender</h7>
            <select id="genderfilter" name="genderfilter" class="table-filter form-control" data-col="6" >
                <option value="">Select one</option>         
                   <option value="Girl">Girl</option>
                   <option value="Boy">Boy</option>
               </select>
        </div>
        <div class="col-md-2">
            <h7>Age</h7>
            <select id="agefilter" name="agefilter" class="table-filter form-control" data-col="7">
              <option value="">Select one</option> 
              {% for col in member_age %}
                {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
          <h7>Ethnicity</h7>
          <select id="ethnicityfilter" name="ethnicityfilter" class="table-filter form-control" data-col="8">
            <option value="">Select one</option> 
            {% for col in ethnicity %}
              {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
            </select>
      </div>

      <div class="col-md-2">
        <h7>Continuing/New</h7>
        <select id="filter" name="filter" class="table-filter form-control" data-col="9">
          <option value="">Select one</option> 
          <option value="Continuing">Continuing</option>
          <option value="New">New</option>
        </select>
    </div>
        <div class="col-md-2">
            <h7>Previous Hours</h7>
           <select id="previoushoursfilter" name="previoushoursfilter" class="table-filter form-control"  data-col="11">
            <option value="">Select one</option> 
            {% for col in previous_hours %}
              {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
          <h7>Passport Date Issued</h7>
          <input type="date" class="form-control" id="datefilterfrom" data-date-split-input="true"  data-col="12">
        </div>

      <div class="col-md-2">
        <h7>Ethnicity Info</h7>
        <select id="ethnicityfilter" name="ethnicityfilter" class="table-filter form-control" data-col="13">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-3">
        <h7>Teaching Research</h7>
        <select id="teachfilter" name="teachfilter" class="table-filter form-control" data-col="14">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-3">
        <h7>Pubilication Promos</h7>
        <select id="promofilter" name="promofilter" class="table-filter form-control" data-col="15">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-2">
        <h7>Social Media</h7>
        <select id="socialfilter" name="socialfilter" class="table-filter form-control" data-col="16">
          <option value="">Select one</option> 
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>

      <div class="col-md-2">
        <h7>Total Hours</h7>
        <select id="hoursfilter" name="hoursfilter" class="table-filter form-control" data-col="17">
          <option value="">Select one</option>
          {% for col in total_hours %}
            {% for result in col%} 
          <option value="{{result}}">{{result}}</option>
            {% endfor %}
          {% endfor %}
        </select>
        </div>

        <div class="col-md-2">
          <h7>Grown Size</h7>
          <select id="grownfilter" name="grownfilter" class="table-filter form-control" data-col="18">
            <option value="">Select one</option>
            {% for col in grown_size %}
              {% for result in col%} 
            <option value="{{result}}">{{result}}</option>
              {% endfor %}
            {% endfor %}
          </select>
          </div>

          <div class="col-md-2">
            <h7>Hat Size</h7>
            <select id="hatfilter" name="hatfilter" class="table-filter form-control" data-col="19">
              <option value="">Select one</option>
              {% for col in hat_size %}
                {% for result in col%} 
              <option value="{{result}}">{{result}}</option>
                {% endfor %}
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
              <h7>Status</h7>
              <select id="statusfilter" name="statusfilter" class="table-filter form-control" data-col="20">
                <option value="">Select one</option>
                {% for col in status%}
                  {% for result in col%} 
                <option value="{{result}}">{{result}}</option>
                  {% endfor %}
                {% endfor %}
              </select>           
          </div>
          <div class="col-md-2">
          </br>
            <button type="reset" id="reset" role="button" class="btn btn-outline-secondary" onclick="window.location.reload()">Reset</button>
          </div>
        </form>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm" style="font-size: .875rem">
        <thead>
            <tr>
                <th scope="col">Member ID</th>
                <th scope="col">School Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Ethnicity</th>
                <th scope="col">Continuing/ New</th>
                <th scope="col">Passport Number</th>
                <th scope="col">Previous Hours</th>
                <th scope="col">Passport Date Issued </th>
                <th scope="col">Ethnicity Info</th>
                <th scope="col">Teaching Research</th>
                <th scope="col">Pubilication Promos</th>
                <th scope="col">Social Media</th>
                {% if date %}
                <th scope="col">{{date}} Total Hours </th>
                {% endif %}
                <th scope="col">Gown Size</th>
                <th scope="col">Hat Size</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for item in result %}
            <tr> 
                {% for col in item %}
                <td>{{col}}</td>
                {% endfor %}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>

{%endblock%}