{%extends "layout.html"%}
{%block title%}Students Page{%endblock%}
    

{%block content%}
<div class="container">
    <h1>Student Inforamtion List</h1>
    <form action="/member_upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <button type="submit" id="btn">submit</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                {% for item in column %}
                <th>{{item}}</th>
                {%endfor%}
            </tr>
        </thead>
        {% for item in result %}
        <tr>
            {% for col in item %}
            <td>{{col}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</div>

    {%endblock%}
    
