{%extends "layout.html"%}
{%block title%}Schools Upload
{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'upload.css')}}">

{%endblock%}

{%block content%}
<main class="m-4">
<h1>Schools Information Upload</h1>
<div class="wrapper container data">
<form action="/school_upload" method="POST">
<table class="table">
    <thead>
        <tr>
        {% for item in cols%}
        <th><input type="text" value="{{item}}" name="school_col" class="columns" readonly></th>
        {%endfor%}
     </tr>
    </thead>
    {% for item in data%}
    <tr>
        {% for entrens in item%}
        <td>
            <input type="text" value="{{entrens}}" name="school{{item[-1]}}">
        </td>
        {%endfor%}
    </tr>

    {%endfor%}

</table>
</div>
<button type="submit" class="btn btn-outline-secondary">Submit</button>
<button type="reset" class="btn btn-outline-secondary">Reset</button>

<button type="button" role="button" class="btn btn-outline-secondary"
            onclick="window.location.href = '/destination'">Return</button>
</form>
</main>
{%endblock%}