{%extends "layout.html"%}
{%block title%}
{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'school_upload.css')}}">

{%endblock%}
{% block current_user %}{{ name[0] }} {{ name[1] }} {% endblock current_user %}
{%block content%}
<h1>school upload page</h1>
<div class="wrapper container">
<form action="/school_upload" method="POST">
<table class="table">
    <thead>
        <tr>
        {% for item in cols%}
        <th><input type="text" value="{{item}}" name="school_col" class="columns" readonly></th>
        {%endfor%}
     </tr>
    </thead>
    {% for item in data%}
    <tr>
        {% for entrens in item%}
        <td>
            <input type="text" value="{{entrens}}" name="school{{item[-1]}}">
        </td>
        {%endfor%}
    </tr>

    {%endfor%}

</table>
</div>
<button type="submit">Submit</button>
<button type="reset">Reset</button>
</form>

{%endblock%}