{% extends "layout.html" %}
{% block title %}Account - Update Password{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'add_event.css')}}">
{% endblock head %}
{%block content%}
<main class="edit-container m-5">
    <div class="container bg-light p-4 pb-5 rounded">
        <div class="mb-3 row">
            <h1>Update Password</h1>
        </div>  
        <form method="POST" action="{{ url_for('update_password') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="mb-3 row">
                    {{ form.password.label(class="col-sm-2 col-form-label") }}
                    {% if form.password.errors %}
                        <div class="col-sm-6">
                        {{ form.password(class="form-control form-control-user is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-6">
                        {{ form.password(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
                <div class="mb-3 row">
                    {{ form.confirm_password.label(class="col-sm-2 col-form-label") }}
                    {% if form.confirm_password.errors %}
                        <div class="col-sm-6">
                            {{ form.confirm_password(class="form-control form-control-user is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                    <div class="col-sm-6">
                        {{ form.confirm_password(class="form-control form-control-user") }}
                    </div>
                    {% endif %}                   
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
    </div>
</main> 
{%endblock%}