{% extends 'layout.html' %}

{% block title %} Users {% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h1>Users</h1>
          <a href="{{ url_for('new_user') }}" type="button" role="button" class="btn btn-primary float-end">
            Add New User</a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>Email</th>   
                <th>Status</th>      
                <th></th>                 
              </tr>
            </thead>
            {# this is a comment the line below prints the db result #}
            <tbody>
            {% for user in users %}
              <tr>
                {% for row in user[1:6] %}
                <td> {{ row }}</td>
                {% endfor %}
                <td> 
                  <a class="btn btn-primary" href="#" role="button">Edit</a>
                  <a class="btn btn-primary" href="#" role="button">Deactivate</a>
                </td>
              </tr>  
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

    