{% extends 'layout.html' %}

{% block title %} Users {% endblock %}
{% block current_user %}{{ name[0] }} {{ name[1] }} {% endblock current_user %}
{% block content %}

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h1>Users</h1>
          <a href="{{ url_for('new_user') }}" type="button" role="button" class="btn btn-primary float-end">
            Add New User</a>
          <table class="table">
            <thead>
              <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>Email</th>   
                <th>Status</th>      
                <th></th>                 
              </tr>
            </thead>
            {# this is a comment the line below prints the db result #}
            <tbody>
            {% for user in users %}
              <tr>
                {% for row in user[0:6] %}
                <td> {{ row }}</td>
                {% endfor %}
                <td> 
                  <a class="btn" href="/edit_user?user_id={{user[0]}}" role="button">
                    <img src="/static/image/pencil-square.svg" alt="Bootstrap" width="25" height="25"></a>
                </td>
              </tr>  
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

    