{% extends 'layout.html' %}

{% block title %} Users {% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col md-12">

        <div class="jumbotron p-3">

          <h3>Users <button type="button" class="btn btn-primary float-end"
          data-bs-toggle="modal" data-bs-target="#addnewusermodal">Add New User</button>
          </h3>
       
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>Email</th>   
                <th>Status</th>      
                <th></th>                 
          </tr>
        </thead>
            {# this is a comment the line below prints the db result #}
            <tbody>
            {% for user in users %}
            <tr>
              {% for row in user[1:5] %}
               <td> {{ row }}</td>
              {% endfor %}
              <td> 
                <a class="btn btn-primary" href="#" role="button">Edit</a>
                <a class="btn btn-primary" href="#" role="button">Deactivate</a>
              </td>
            </tr>  
            {% endfor %}
          </tbody>


<!-- Modal to add new activity night -->
          <div id="addnewusermodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add New User</h4>
                  </div>
                  <div class="modal-body">
                        <form action="{{url_for('new_user')}}" method="POST">
                          <div class="form-group">
                            <label>Night Title:</label>
                            <input type="text" class="form-control" id="nighttitle" name="nighttitle" required="required">
                          </div>
                          <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required="required">
                          </div>
                          <div class="form-group">
                            <label for="lastname">Surname</label>
                            <input type="text" class="form-control" id="lastname" name="surname" required="required">
                          </div>
                          <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" id="#" name="email" placeholder="firstname.lastname@childrensuniversity.co.nz" required="required">
                          </div>
                          <div class="form-group">
                              <label for="phonenumber">Phone number</label>
                              <input type="phonenumber" class="form-control" id="phonenumber" name="phonenumber" placeholder="" required="required">
                          </div>
                          <div class="form-group">
                              <button class="btn btn-primary" type="submit">Add Activity Night</button>
                          </div>
                        </form>
          
                  </div>
          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          </table>

        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

    