{% extends "layout.html" %}
{% block title %}
Volunteer Upload Page
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'upload.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'forms.css')}}">
{% endblock head %}

{% block content %}
<main class="m-4">
    <h1>Volunteers Information Upload </h1>
    <form action="/volunteer_upload" method="POST" class="container">
        <div class="wrapper data">
            <table class="table">
                <thead>
                    <tr>
                        {% for item in cols %}
                        <th><input type="text" value="{{item}}" name="col" class="columns" readonly></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        {% for entrens in item %}
                        <td>
                            <input type="text" value="{{entrens}}" name="index{{item[-1]}}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 mt-3 d-md-block">
            <button id="cancel-btn" type="button" role="button" class="btn btn-outline-secondary float-end"
                    onclick="window.location.href = '/destination'">Cancel</button>
            <button id="reset-btn" type="reset" class="btn btn-outline-secondary float-end">Reset</button>
            <button id="submit-btn" type="submit" class="btn btn-outline-secondary float-end" id="submitBtn">Submit</button>
        </div>
    </form>
</main>
<script type="text/javascript">
    var btn = document.getElementById("submitBtn");
    informing(btn)
    
    </script>
{% endblock content %}