{%extends "layout.html"%}
{%block title%}
{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename = 'volunteer.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename = 'layout.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{%endblock%}

{%block content%}


<main class="m-4">
    <h1>Volunteer page</h1>
    <form action="/volunteer_upload" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01" required name="file">
            <button class="btn btn-outline-secondary" type="submit" id="btn">Submit</button>
        </div>
    </form>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <form action="/volunteer" method="POST" class="criteria clearfix">
        <div class="row">
            {% for i in criteria.keys()%}
            <div class="col-sm-2">
                <label for="{{i}}">{{i}}</label>
                <select class="selectpicker" multiple data-live-search="true" id="{{i}}" name="{{i}}">
                    {%for j in criteria[i]%}
                    <option>{{j[0]}}</option>
                    {%endfor%}
                </select> 
            </div>
            {%endfor%}
            <div class="col">
            </br>
                <button class="btn btn-outline-secondary float-end" type="submit" role="button">Search</button>
                <a class="btn btn-outline-secondary float-end clickable" data-href="/volunteer">Reset</a>
            </div>
        </div>
    </form>
    <table class="table-striped table-hover paginated">
        <thead style="background-color: #F3D712;">
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Induction</th>
                <th>Interview</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Volunteer Experience</th>
                <th>Future Leader</th>
                <th>Police Check</th>
                <th>University</th>
                <th>Course</th>
                <th>Current Year</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {%for i in voluns%}
            <tr>
                <td><a href="javascript:;" class="volunid">{{i.id}}</a></td>
                <td>{{i.status}}</td>
                <td>{{i.induction}}</td>
                <td>{{i.interview}}</td>
                <td>{{i.firstname}} {{i.surname}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.experience}}</td>
                <td>{{i.leader}}</td>
                <td>{{i.police}}</td>
                <td>{{i.uni}}</td>
                <td>{{i.course}}</td>
                <td>{{i.current_year}}</td>
                <td>{{i.comp_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="form_wrap hidden" id="showDetail">
        {% for i in voluns%}
        <div id="{{i.id}}" class="details hidden">
            <form action="javascrip:;">
                <label for="id{{i.id}}">ID</label> <input type="text" value="{{i.id}}" readonly id="id{{i.id}}">
                <label for="status{{i.id}}">Status</label> <input type="text" value="{{i.status}}" id="status{{i.id}}">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
            </form>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-outline-secondary" id="close">Close</button>
    </div>
</main>

<script>
    var closeBtn = document.getElementById("close");
    var showDetail = document.getElementById("showDetail");
    var id_list = document.getElementsByClassName("volunid")
    var details = document.getElementsByClassName("details")
    function closeForm() {
        for (var i = 0; i < details.length; i++) {
            if (!hasClass(i, 'hidden')) {
                addClass(i, 'hidden');
            }
        }
        addClass(showDetail, 'hidden');
    }
    document.body.addEventListener("click", function (e) {
        test(id_list)
        if (!hasClass(showDetail, 'hidden')) {
            test(e.target)
        }
    }, false)
    for (var i = 0; i < id_list.length; i++) {
        id_list[i].addEventListener("click", function () {

            let select = document.getElementById(this.innerHTML)
            removeClass(showDetail, 'hidden')
            removeClass(select, 'hidden')
        }, false)
    }

    closeBtn.addEventListener("click", closeForm, false)

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>
{%endblock%}