{% extends "layout.html" %}
{% block title %}
Volunteer Upload Page
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'upload.css')}}">
{% endblock head %}

{% block content %}
<main class="m-4">
    <h1>Volunteers Information Upload </h1>
    <form action="/volunteer_upload" method="POST" class="container">
        <div class="wrapper data">
            <table class="table">
                <thead>
                    <tr>
                        {% for item in cols %}
                        <th><input type="text" value="{{item}}" name="col" class="columns" readonly></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        {% for entrens in item %}
                        <td>
                            <input type="text" value="{{entrens}}" name="index{{item[-1]}}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>

        <button type="button" role="button" class="btn btn-outline-secondary"
            onclick="window.location.href = '/volunteer'">Return</button>
    </form>
</main>
{% endblock content %}