{% extends "layout.html" %}
{% block title %}
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'destination_upload.css')}}">
{% endblock head %}
{% block current_user %}{{ name[0] }} {{ name[1] }} {% endblock current_user %}
{% block content %}
<h1>destination upload page</h1>
<div class="container">
<form action="/volunteer_upload" method="POST">
    <div class="wrapper">
<table class="table">
    <thead>
        <tr>
        {% for item in cols %}
        <th><input type="text" value="{{item}}" name="col" class="columns" readonly></th>
        {%endfor%}
     </tr>
    </thead>
    {% for item in data %}
    <tr>
        {% for entrens in item %}
        <td>
            <input type="text" value="{{entrens}}" name="index{{item[-1]}}">
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
<button type="submit">Submit</button>
<button type="reset">Reset</button>
</form>

{% endblock content %}